.backgroundImage {
    width: 100vw;
    height: 100vh;
    padding 0 8%;
    background-image: url("/Images/test.jpg");
    background-size: cover;
    background-position: center;
    padding-left: 500px;
}

.content {
    position: absolute;
    top: 50%;
    color: #fff;
    transform: translate(-50%);
}

    .content h1 {
        font-size: 64px;
        font-weight: 600;
    }

        .content h1 span {
            color: #ff3753;
        }

    .content button {
        background: transparent;
        border: 2px solid #fff;
        outline: none;
        padding: 12px 25px;
        color: #fff;
        display: flex;
        align-items: center;
        margin-top: 30px;
        cursor: pointer;
    }

.lunch-timer {
    display: flex;
}

    .lunch-timer div {
        flex-basis: 100px;
    }

        .lunch-timer div p {
            font-size: 60px;
            margin-bottom: -14px;
        }

.rocket {
    width: 150px;
    position: absolute;
    right: 10%;
    bottom: 0;
    animation: rocket 4s linear infinite;
}

@keyframes rocket {
    0% {
        bottom: 0;
        opacity: 1;
    }

    100% {
        bottom: 90%;
        opacity: 0;
    }
}
